<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>study room | a place to learn</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>

<body>
  <div class="wrapper">
      <header class="hero">
        
            <nav class="nav">
              <h2>study room.</h2>
                    <a class="link" href="/">home</a>
                    <a class="link" href="/dashboard">dashboard</a>
                    {{#if loggedIn}}
                    <a class="link" href="/" id="logout">logout</a>
                    {{else}}
                    <a class="link" href="/login">login</a>
                    {{/if}}
            </nav>          
          <h1 class="app-title"><i class="fab "></i></h1>
      </header>

    <main>
      {{{ body }}}
    </main>
  </div>

  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>