<div class="intro-showcase">
    <div class="intro-text">
        <h1>hello, and welcome to studyroom.</h1>
        <p>a place where every question is welcome, no matter how big or how small!</p>
    </div>
    <img src="homepage.svg" alt="">
    <img src="second-home.svg" alt="">
    <div class="intro-text-two">
        <p>studyroom is a place that brings the question askers and question answerers together in one place.</p>
        <p>click the button bellow to make an account today!</p>
        <button class="signup-btn-home" type="submit" class="btn"><a href="/signup">signup</a></button>
    </div>
</div>

<div class="post-display">
    <section class="homepage-post">

        {{#each posts as |post| }}
            {{> post-info post}}
        {{/each}}

    </section>
</div>

<footer>

    <div class="footer-grid">
      <div class="footer-text">
        <h2>studyroom.</h2>
      </div>

      <div class="footer-nav last-grid">
        <a class="link" href="/">home</a>
          <a class="link" href="/dashboard">dashboard</a>
              {{#if loggedIn}}
          <a class="link" href="/" id="logout">logout</a>
              {{else}}
        <a class="link" href="/login">login</a>
              {{/if}}
      </div>

      <div class="contact last-grid">
        <h2>call: 555-555-5555</h2>
        <h2>email: emailus@studyroom.com</h2>
        <h2></h2>
      </div>
    </div>
    
    
                    
       
  </footer>
