<div class="header">
    <nav>
        <ul class="nav-links">
            <li><a href="/">home</a></li>
            <li><a href="/login">log in</a></li>
            <li>log out</li>
        </ul>
    </nav>
</div>

<div class="showcase">

    <div class="message-board">

        {{!-- question build --}}
        <div class="question">
            <h1>this is a question</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae eum explicabo vero quia tempore quis alias suscipit aperiam earum corrupti nihil neque, aliquid ullam deserunt culpa nulla dolor, dignissimos natus odio consequatur temporibus? Suscipit eum delectus fugit vitae! Molestiae cumque consequuntur error! Dolore blanditiis a aliquam provident velit alias repellat eos repudiandae rem doloribus sequi eum consequuntur reiciendis, recusandae ratione nobis modi quae porro ipsam repellendus ab inventore exercitationem tempore magni. Sint neque maiores doloremque ducimus ratione? Ducimus doloribus iste nisi veniam, aliquid nesciunt natus esse incidunt neque velit. Qui, nihil unde. Rem minima sit.</p>

            {{!-- comments on questions above them --}}
            <div class="comment">
                <h2>this is a headding for a comment</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit ducimus, dicta provident possimus fuga odio saepe eum dolores velit iste beatae dolorem ipsam autem! Debitis, veritatis rerum? Vitae odit saepe magni quam illum corporis, odio id corrupti ea neque veritatis ratione repudiandae quas eum ducimus qui sit voluptate numquam a explicabo eveniet? Minus, iure doloribus suscipit vitae reiciendis illum pariatur. Harum reprehenderit similique maxime quis exercitationem doloribus optio obcaecati facilis porro quos, assumenda adipisci ipsum dolore ipsa animi aut iusto.</p>
            
            </div>
            <div class="comment">
                <h2>this is a headding for a comment</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit ducimus, dicta provident possimus fuga odio saepe eum dolores velit iste beatae dolorem ipsam autem! Debitis, veritatis rerum? Vitae odit saepe magni quam illum corporis, odio id corrupti ea neque veritatis ratione repudiandae quas eum ducimus qui sit voluptate numquam a explicabo eveniet? Minus, iure doloribus suscipit vitae reiciendis illum pariatur. Harum reprehenderit similique maxime quis exercitationem doloribus optio obcaecati facilis porro quos, assumenda adipisci ipsum dolore ipsa animi aut iusto.</p>
            
            </div>
            
            <h1>this is a question</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae eum explicabo vero quia tempore quis alias suscipit aperiam earum corrupti nihil neque, aliquid ullam deserunt culpa nulla dolor, dignissimos natus odio consequatur temporibus? Suscipit eum delectus fugit vitae! Molestiae cumque consequuntur error! Dolore blanditiis a aliquam provident velit alias repellat eos repudiandae rem doloribus sequi eum consequuntur reiciendis, recusandae ratione nobis modi quae porro ipsam repellendus ab inventore exercitationem tempore magni. Sint neque maiores doloremque ducimus ratione? Ducimus doloribus iste nisi veniam, aliquid nesciunt natus esse incidunt neque velit. Qui, nihil unde. Rem minima sit.</p>

            {{!-- comments on questions above them --}}
            <div class="comment">
                <h2>this is a headding for a comment</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit ducimus, dicta provident possimus fuga odio saepe eum dolores velit iste beatae dolorem ipsam autem! Debitis, veritatis rerum? Vitae odit saepe magni quam illum corporis, odio id corrupti ea neque veritatis ratione repudiandae quas eum ducimus qui sit voluptate numquam a explicabo eveniet? Minus, iure doloribus suscipit vitae reiciendis illum pariatur. Harum reprehenderit similique maxime quis exercitationem doloribus optio obcaecati facilis porro quos, assumenda adipisci ipsum dolore ipsa animi aut iusto.</p>
            
            </div>
            <div class="comment">
                <h2>this is a headding for a comment</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit ducimus, dicta provident possimus fuga odio saepe eum dolores velit iste beatae dolorem ipsam autem! Debitis, veritatis rerum? Vitae odit saepe magni quam illum corporis, odio id corrupti ea neque veritatis ratione repudiandae quas eum ducimus qui sit voluptate numquam a explicabo eveniet? Minus, iure doloribus suscipit vitae reiciendis illum pariatur. Harum reprehenderit similique maxime quis exercitationem doloribus optio obcaecati facilis porro quos, assumenda adipisci ipsum dolore ipsa animi aut iusto.</p>
            
            </div>
            
        </div>
        
    </div>

    {{!-- message area --}}
    <div class="chatbox">
        <ul class="chat-message" id="messages"></ul>
        <form class="chat-input" id="form" action="" style="left: 654px; margin-top: 12px;">
            <input id="input" autocomplete="off" /><button>Send</button>
        </form>
    </div>
</div>







<script src="/socket.io/socket.io.js"></script>
<script>

    var socket = io();

    var messages = document.getElementById('messages');
    var form = document.getElementById('form');
    var input = document.getElementById('input');

    form.addEventListener('submit', function(e) {
    e.preventDefault();
    if (input.value) {
        socket.emit('chat message', input.value);
        input.value = '';
    }
    });

    socket.on('chat message', function(msg) {
    var item = document.createElement('li');
    item.textContent = msg;
    messages.appendChild(item);
    
    window.scrollTo(0, document.body.scrollHeight);
    });
</script>
  