<div class="login-showcase">
  <img src="upvote.svg" alt="">
  <div class="login-card">
    {{!-- <h3 class="card-header">Login</h3> --}}
    <form class="main-form" id="login-form" class="card-body">
      <p>welcome back, we're so excited to see what you will learn today!</p>
      <label class="user-login" class="form-label" for="username-login">username</label>
      <input  id="username-login" type="text" autofocus="true" class="form-input" />

      <label class="password-login" class="form-label" for="password-login">password</label>
      <input id="password-login" type="password" autofocus="true" class="form-input" />

      <button class="login-btn" type="submit" class="btn"><a href="/dashboard">login</a></button>
      <a class="login-link" href="/signup">sign up instead!</a>
    </form>
  </div>
</div>
<!-- javascript file-->
<script src="/javascript/login.js"></script>