<div class="card message-showcase">
    <h3 class="card-header" style="font-size: 3rem;">ask a new question</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="post-title" class="form-label message-title" style="font-size: 2rem; margin-top: 1rem;">title</label>
        <input type="text" id="post-title" name="post-title" class="form-input message-title-input" />


        <label class="form-label" for="content" style="font-size: 2rem; margin-top: 2rem; margin-bottom: 1rem;">question</label>
        {{!-- <input id="content" name="content" class="form-input" /> --}}
        <textarea id="content" class="form-input text-area" name="content" style="height: 50rem; width: 80rem; font-size: 1.5rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 1.5rem; border: rgba(138, 138, 138, 0.767) .2rem solid;"></textarea>

        <button type="submit" class="btn new-msg-btn">Create</button>
    </form>
</div>

<script src="/javascript/add-post.js"></script>