* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login {
    background-image: url("https://www.paintingmania.com/arts/claude-monet/large/effect-spring-giverny-7_11600.jpg?version=11.11.20");
  display:flex;
  flex-direction:column;
  height:100vh;
  width:l00vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position:center;
  }
  .title{
      position:absolute;
      top:0;
      left:0;
  }