<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <script defer src="index.js"></script>
  <title>test</title>
</head>

<body>
  <main>
    <section class="users">
      <div class="user">
        <div class="avatar">avatar</div>
        <div class="text">
          <h2>name</h2>
        </div>
      </div>
      <div class="user">
        <div class="avatar">avatar</div>
        <div class="text">
          <h2>name</h2>
        </div>
      </div>
      <div class="user">
        <div class="avatar"></div>
        <div class="text">
          <h2></h2>
        </div>
      </div>
      <div class="user">
        <div class="avatar"></div>
        <div class="text">
          <h2></h2>
        </div>
      </div>
      <div class="user">
        <div class="avatar"></div>
        <div class="text">
          <h2></h2>
        </div>
      </div>
      <div class="user">
        <div class="avatar"></div>
        <div class="text">
          <h2></h2>
        </div>
      </div>
      <div class="user">
        <div class="avatar"></div>
        <div class="text">
          <h2></h2>
        </div>
      </div>
    </section>
    <section class="messages"></section>
  </main>
</body>

</html>
