* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: rgba(255, 255, 255, 0.911);
    font-family: Poppins;
    
}

input:focus {outline:none;}

/* reccomended style build from sockit.io */

#form { background: rgba(204, 200, 200, 0.15); padding: 0.25rem; ; bottom: 0; left: 0; right: 0; display: flex; box-sizing: border-box; backdrop-filter: blur(10px); }
#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#input:focus { outline: none; }
#form > button { background: rgb(66, 36, 197); border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages > li { padding: 0.5rem 1rem; }
#messages > li:nth-child(odd) { background: #efefef; }

a {
    color: inherit;
    text-decoration: none;
}

.app-title {
    font-size: 6rem;
    margin-left: 1rem;
}

/* header */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}

.link {
    transition: 200ms ease-in-out;
}

.link:hover {
    color: rgb(82, 72, 228);
}

/* HOMEPAGE */


.intro-showcase {
    margin: 10rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.intro-showcase img {
    width: 95%;
}

.intro-text {
    margin-left: 2rem;
}

.intro-text h1 {
    font-size: 5rem;
    
}

.intro-text p {
    font-size: 2.5rem;
    font-style: italic;
}

.intro-text-two {
    margin-top: 5rem;
    padding: 1rem;
    text-align: center;
    width: 90%;
}

.intro-text-two h1 {
    font-size: 5rem;
}

.intro-text-two p {
    font-size: 2.5rem;
}

.homepage-post {
    font-size: 4rem;
    margin: .5rem;
    margin-left: 6rem;
    margin-right: 6rem;
    padding: 2rem;
    border: #536dfe94 .3rem solid;
    border-radius: 1.5rem;
    overflow: scroll;
    height: 80rem;
}

.homepage-post a {
    font-size: 3rem;
}

.homepage-post p {
    font-size: 1.5rem;
    padding: .5rem;
}

.post-card {
    border: solid rgba(0, 0, 0, 0.15) .2rem;
    border-radius: 1.2rem;
    margin: 1rem;
    padding: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.post-display {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: .1rem;
    
}

.card-body {
    font-size: 1.8rem;
}


/* DASHBOARD */

.showcase {
    margin: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(60rem, 65rem);
    gap: .5rem;
    justify-content: center; 
    overflow: scroll;
    
    
}

.message-board {
    width: 53rem;
    overflow: scroll;
}

.message-board, .question {
    padding: 1rem;
}

.homepage-post-dash {
    width: 50rem
}

.question {
    /* border: black solid .2rem; */
    border-radius: 3%;
    height: 60rem;
}

.message-board, .question h1 {
    font-size: 6rem;
    padding: 1.5rem;

}

.message-board, .question p {
    font-size: 1.8rem;
}

.old-posts {
    text-align: center;
    margin-top: 3rem;
}

.old-posts h2 {
    font-size: 3rem;
}

.old-posts a {
    font-size: 1.5rem;
}




/* CHAT BOX */
.chatbox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: scroll;
    border: rgba(138, 138, 138, 0.767) .2rem solid;
    border-radius: 2%;
}

.chat-message {
    font-size: 2.5rem;
    padding: 1rem;
}

.chat-input {
    position: relative;
    top: 90%;
    height: 3.1rem;
    font-size: 2rem;
}

/* COMMENTS */

.comment-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
}

.comment-showcase {
    display: grid;
    align-items: center;
    justify-content: center;
}

.comment-card {
    border: solid rgba(0, 0, 0, 0.15) .2rem;
    border-radius: 1.2rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 10rem;
}

.comment-box {
    border-top: none;
    border-left: none;
    border-right: none;
}


/* CREATE NEW MESSAGE */

.message-showcase {
    display: grid;
    align-items: center;
    justify-content: center;
    width: auto;
}

.new-post-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    width: auto;
}

.text-area {
    resize: none;
    padding: 1rem;
}

.message-title-input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}



    


/* SIGN UP */
.signup-showcase {
    font-family: Poppins;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    position: absolute;
}

.signup-showcase img {
    height: 50rem;
}

.signup-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    
}

.signup-card p {
    font-size: 3rem;
    
}

.signup-form {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(236, 229, 229, 0.884);
    position: relative;
    height: 45rem;
    bottom: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup-form p {
    font-size: 1.3rem;
    background-color: rgba(236, 229, 229, 0.884);
    font-style: italic;
    padding: 1rem;

}

.signup-form label {
    background-color: rgba(236, 229, 229, 0.884);
}

.signup-form input {
    background-color: rgba(236, 229, 229, 0.884);
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    left: 7rem;
}

.user-signup {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.password-signup {
    font-size: 3rem;
    margin-top: 1rem;
}

.signup-btn {
    margin: 1rem;
    height: 3.5rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: solid rgb(228, 225, 225) .1rem;
    background-color: rgb(82, 72, 228);
}

.signup-btn a {
    background-color: rgb(82, 72, 228);
    color: cornsilk;
    font-size: 2rem;
}


.signup-input {
    font-size: 2.5rem;
    height: 3rem;
    width: 25rem;
}

.login-link {
    font-size: 1.5rem;
    display: block;
    position: relative;
    left: 6rem;
    width: 13rem;
    background-color: rgba(236, 229, 229, 0.884)
}


/* LOGIN */


.login-showcase {
    font-family: Poppins;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    position: absolute;
}

.login-showcase img {
    height: 50rem;
}

.login-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    
}

.login-card h3 {
    font-size: 3rem;
    
}

.main-form {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(236, 229, 229, 0.884);
    position: relative;
    height: 45rem;
    bottom: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-form p {
    font-size: 1.3rem;
    background-color: rgba(236, 229, 229, 0.884);
    font-style: italic;

}

.main-form label {
    background-color: rgba(236, 229, 229, 0.884);
}

.main-form input {
    background-color: rgba(236, 229, 229, 0.884);
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    left: 5rem;
}

.user-login {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.password-login {
    font-size: 3rem;
    margin-top: 1rem;
}

.login-btn {
    margin: 1rem;
    height: 3.5rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: solid rgb(228, 225, 225) .1rem;
    background-color: rgb(82, 72, 228);
}

.login-btn a {
    background-color: rgb(82, 72, 228);
    color: cornsilk;
    font-size: 2rem;
}



.form-input {
    font-size: 2.5rem;
    height: 3rem;
    width: 25rem;
}

.login-link {
    font-size: 1.5rem;
    display: block;
    position: relative;
    left: 12rem;
    width: 13rem;
    background-color: rgba(236, 229, 229, 0.884)
}


/* FOOTER */

footer {
    margin-top: 10rem;
    
    background-color: #536dfe94;
    color: white;
}

.footer-text {
    padding: 1rem;
    font-size: 5rem;
    background-color: #536dfe94;
}

.footer-text h2 {
    background-color: #536dfe94;
}

.footer-nav {
    padding: 1rem;
    font-size: 2.5rem;
    background-color: #536dfe94;
}

.footer-nav a {
    background-color: #536dfe94;
}

.contact {
    font-size: 2rem;
    padding: 1rem;
    background-color: #536dfe94;
}

.contact h2 {
    background-color: #536dfe94;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #536dfe94;
}

.last-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #536dfe94;
}
/* UTILITIES */

.new-post-btn {

    height: 4rem;
    width: 10rem;
    margin: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: solid black .2rem;
    border-radius: 3%;
}

.new-post-btn:hover {
    cursor: pointer;
}

.signup-btn-home {
    margin: 1rem;
    height: 4rem;
    width: 25rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: solid rgb(228, 225, 225) .1rem;
    background-color: rgb(82, 72, 228);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup-btn-home:hover {
    cursor: pointer;
}

.signup-btn-home a {
    background-color: rgb(82, 72, 228);
    color: cornsilk;
    font-size: 2rem;
}

.btn-holder {
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
    margin-left: 20rem;
}


.question-btn {
    margin: 1rem;
    height: 3.5rem;
    font-size: 2rem;
    border-radius: 2rem;
    border: solid rgb(228, 225, 225) .1rem;
    background-color: rgb(82, 72, 228);
}

.question-btn:hover {
    cursor: pointer;
}

.question-btn a {
    background-color: rgb(82, 72, 228);
    color: cornsilk;
    font-size: 1.5rem;
    padding: 1rem;
}

.comment-btn {
    margin: 1rem;
    height: 3.5rem;
    font-size: 2rem;
    border-radius: 2rem;
    border: solid rgb(228, 225, 225) .1rem;
    background-color: rgb(82, 72, 228);
    color: cornsilk;
    padding: .5rem;
}

.comment-btn:hover {
    cursor: pointer;
}

.new-msg-btn {
    margin: 1rem;
    height: 3.5rem;
    font-size: 2rem;
    border-radius: 2rem;
    border: solid rgb(228, 225, 225) .1rem;
    background-color: rgb(82, 72, 228);
    color: cornsilk;
    padding: .5rem;
    width: 20rem;
}

.new-msg-btn:hover {
    cursor: pointer;
}