* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: rgba(247, 247, 247, 0.911);
    
}

#form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#input:focus { outline: none; }
#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages > li { padding: 0.5rem 1rem; }
#messages > li:nth-child(odd) { background: #efefef; }

a {
    color: inherit;
    text-decoration: none;
}

.app-title {
    font-size: 6rem;
    margin-left: 1rem;
}

/* header */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}

/* HOMEPAGE */

.post a {
    font-size: 3rem;
}

.post {
    font-size: 4rem;
    display: flex;
    margin: .5rem;
    padding: 2rem;
}

.card {
    outline: black solid .2rem;
}


/* DASHBOARD */

.showcase {
    margin: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    justify-content: center; 
    overflow: scroll;
}

.message-board {
    margin-left: 10rem;
    overflow: scroll;
}

.message-board, .question {
    padding: 1rem;
}

.question {
    /* border: black solid .2rem; */
    border-radius: 3%;
    height: 60rem;
}

.message-board, .question h1 {
    font-size: 6rem;
    padding: 1.5rem;

}

.message-board, .question p {
    font-size: 1.8rem;
}

.comment {
    margin: 6rem;
    
    padding: 3rem;
    font-size: 3em;
    border: black solid .2rem;
    border-radius: 3%;
}

.comment h2 {
    font-size: 1em;
}

.comment p {
    font-size: .7em;
}


/* CHAT BOX */
.chatbox {
    height: 60rem;
    width: 40rem;
    margin-left: 10rem;
    overflow: scroll;
    border: rgba(138, 138, 138, 0.767) .2rem solid;
    border-radius: 2%;
}

.chatbox, .chat-message {
    font-size: 3rem;
    padding: 1rem;
    
}

.chat-input {
    width: 40rem;
    height: 4rem;
    position: relative;
    top: 80rem;
    left: 67.5rem;
}

.chat-input input {
    height: 2.1rem;
}

/* SIGN UP */
.signup-showcase {
    font-family: Poppins;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    position: absolute;
}

.signup-showcase img {
    height: 50rem;
}

.signup-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    
}

.signup-card p {
    font-size: 3rem;
    
}

.signup-form {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(236, 229, 229, 0.884);
    position: relative;
    height: 45rem;
    bottom: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup-form p {
    font-size: 1.3rem;
    background-color: rgba(236, 229, 229, 0.884);
    font-style: italic;
    padding: 1rem;

}

.signup-form label {
    background-color: rgba(236, 229, 229, 0.884);
}

.signup-form input {
    background-color: rgba(236, 229, 229, 0.884);
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    left: 7rem;
}

.user-signup {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.password-signup {
    font-size: 3rem;
    margin-top: 1rem;
}

.signup-btn {
    margin: 1rem;
    height: 3.5rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: solid rgb(228, 225, 225) .1rem;
    background-color: rgb(82, 72, 228);
}

.signup-btn a {
    background-color: rgb(82, 72, 228);
    color: cornsilk;
    font-size: 2rem;
}



.signup-input {
    font-size: 2.5rem;
    height: 3rem;
    width: 25rem;
}

.login-link {
    font-size: 1.5rem;
    display: block;
    position: relative;
    left: 6rem;
    width: 13rem;
    background-color: rgba(236, 229, 229, 0.884)
}


/* LOGIN */


.login-showcase {
    font-family: Poppins;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    position: absolute;
}

.login-showcase img {
    height: 50rem;
}

.login-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    
}

.login-card h3 {
    font-size: 3rem;
    
}

.main-form {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(236, 229, 229, 0.884);
    position: relative;
    height: 45rem;
    bottom: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-form p {
    font-size: 1.3rem;
    background-color: rgba(236, 229, 229, 0.884);
    font-style: italic;

}

.main-form label {
    background-color: rgba(236, 229, 229, 0.884);
}

.main-form input {
    background-color: rgba(236, 229, 229, 0.884);
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    left: 5rem;
}

.user-login {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.password-login {
    font-size: 3rem;
    margin-top: 1rem;
}

.login-btn {
    margin: 1rem;
    height: 3.5rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: solid rgb(228, 225, 225) .1rem;
    background-color: rgb(82, 72, 228);
}

.login-btn a {
    background-color: rgb(82, 72, 228);
    color: cornsilk;
    font-size: 2rem;
}



.form-input {
    font-size: 2.5rem;
    height: 3rem;
    width: 25rem;
}

.login-link {
    font-size: 1.5rem;
    display: block;
    position: relative;
    left: 12rem;
    width: 13rem;
    background-color: rgba(236, 229, 229, 0.884)
}


/* Utilities */

.new-post-btn {

    height: 4rem;
    width: 10rem;
    margin: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: solid black .2rem;
    border-radius: 3%;
}